@charset "utf-8";
*{margin: 0 ;padding: 0; box-sizing: border-box;}
a{text-decoration: none;color: inherit;}
ul, ol, li{list-style: none;}

body{
    font-family: "돋움";
    font-size: 14px;
    color: #222328;
    background: white;
}

#wrap{
    width: 1200px;
    margin: 0 auto;
    /* height: 700px; */
    /* background-color: #ddd; */
}

#header{
    height: 100px;
    /* background-color: #eee; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    width: 200px;
    height: 40px;
}

.nav{
    
}

.main{}

.main > li{
    float: left;
    position: relative;
}

.main > li >a{
    display: block;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: skyblue;
    font-size: 16px;
    font-weight: bold;
}

.main > li:hover >a{
    background-color:darkblue;
    color: white;
}

.sub{
    position: absolute;
    left: 0;
    top: 50px;
    /* border: 1px solid red; */
    width: 100%;
    display: none;
    z-index: 100;
}

.sub li{}

.sub li a{
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color:darkcyan;
    color: white;
}
.sub li a:hover{
    background-color:darkblue;
}

#section{
    height: 500px;
    /* background-color: #aaa; */
}


.slide_img{
    height: 300px;
    position: relative;
    overflow: hidden;
}
.move{
    position: absolute;
    left: 0;top: 0;
    width: 1200px;
    height: 900px;
}

.move li{
    width: 1200px;
    height: 300px;
}

.container{
    height: 200px;
    display: flex;
    justify-content: space-between;
}
.container > div{
    height: 200px;
    width: 390px;
    /* border: 1px solid black; */
    position: relative;
}

.container h2{
    width: 100px;
    height: 35px;
    background-color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 35px;
    border: 1px solid gray;
    border-bottom-color: #fff;
    cursor: pointer;
    position: absolute;
    top: 0;left: 0;
    z-index: 5;
    border-radius: 10px 10px 0 0 ;
}
.container h2.off{
    background-color: #ddd;
}
.noti_gall{}
.noti_gall ul{
    position:absolute;
    top: 34px;
    left: 0;
    height: 166px;
    width: 390px;
    border: 1px solid gray;
    background: white;
    border-radius: 0 10px 10px 10px;
}

.notice{}
.notice ul{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* display: none; */
}
.notice ul li{
    padding: 8px 0;
    overflow: hidden;
    border-bottom: 1px dotted #ddd;
}

.notice ul li a{
    display: block;
    width: 70%;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    float: left;
}
.notice ul li span{float: right;}

.gallery{}
.gallery ul{
    display: none;
    padding: 10px;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}
.gallery ul li{}
.gallery ul li a {}
.gallery ul li a img{}

.gallery h2{left: 100px;}



.banner p , .baro p{
    width: 390px;
    height: 166px;
    border: 1px solid gray;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 34px;
    left: 0;
    z-index: 4;
    border-radius: 0 10px 10px 10px;
}

#footer{
    height: 100px;
    /* background-color: #ccc; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;

}

.f_logo{
    border-right: 1px solid #ddd;
}
.copy{}
.sns{}
.sns a{
    padding-left: 10px ;
}

.pop{
    width: 500px;
    height: 600px;
    background: white;
    border: 10px groove darkblue;
    padding: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 300;
    display: none;
}

.pop h3{
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted gray;
    text-transform: capitalize;
}

.pop p{
    padding-top: 20px;
    line-height: 2;
    text-align: justify;
}
.pop p::first-letter{
    font-size: 20px;
    color: darkblue;
    font-weight: bold;
}

.pop .close{
    position: absolute;
    right: 30px;bottom: 30px;
    cursor: pointer;
    padding: 10px 20px;
}




